<template>
     <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card-linea" v-for="ar in arindex" >
                <div class="linea-details"  v-on:click="lineaSelected(ar.CODIGO)">
                    <img class="linea-image" :src="'http://corporacionsmartest.com/pedidos_app/restaurantes/' + ar.CODIGO + '/restaurant.jpg'"
                    onerror="if (this.src != 'images/no_disponible.png') this.src = 'images/no_disponible.png';">
                    <p class="linea-name">{{ar.NOMBRE}}</p>
                </div>
            </div>
            <infinite-loading @infinite="infiniteHandler">
                <span slot="no-more">
                    No hay más datos que mostrar
                </span>
            </infinite-loading>
        </div>
     </div>
</template>

<script>
    import axios from 'axios';
    import InfiniteLoading from 'vue-infinite-loading';

    export default {
        created() {
            this.getLineas()
        },
        props: ['textoBusqueda', 'siteUrl'],
        data() {
            return {
                arindex: []
            }
        },
        methods: {
            getLineas: function () {
                axios.get(this.siteUrl + 'arindex',
                   {
                        params: {
                            nombre: this.textoBusqueda
                        }
                   }).then(response => {
                        this.arindex = response.data.data;
                });
            },
            infiniteHandler: function ($state) {
                let limit = this.arindex.length/40 + 1;
                axios.get(this.siteUrl + 'arindex', { params: { page: limit, nombre: this.textoBusqueda }}).then(response => {
                    this.loadMore($state, response);
                });
            },
            loadMore: function ($state, response) {
                if (response.data.data.length) {
                    this.arindex = this.arindex.concat(response.data.data);
                    setTimeout(() => {
                        $state.loaded();
                    }, 1000);

                    if ( response.data.total == this.arindex.length ) {
                        $state.complete();
                    }
                } else {
                    $state.complete();
                }
            },
            lineaSelected(val){
                window.location = this.siteUrl + 'categorias/' + val + '?categoria=all';
            }
        }
    }
</script>