<template>
     <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 card-item" v-for="item in items" >
                <div class="item-details"  v-on:click="itemSelected(item.NUMERO_ITEM)" :name="item.NUMERO_ITEM">
                    <img class="item-image" :src="'http://corporacionsmartest.com/pedidos_app/platos_comida/' + item.NUMERO_ITEM + '/food.jpg'"
                    @error="replaceByDefault">
                    <p class="item-name">{{item.DESCRIPCION}}</p>
                    <p class="item-price" v-if="nivelPrecioCliente == 1">{{item.PRECIOD_VTA_1}} $</p>
                    <p class="item-price" v-if="nivelPrecioCliente == 2">{{item.PRECIOD_VTA_2}} $</p>
                    <p class="item-price" v-if="nivelPrecioCliente == 3">{{item.PRECIOD_VTA_3}} $</p>
                    <p class="item-price" v-if="nivelPrecioCliente == 3">{{item.PRECIOD_VTA_4}} $</p>
                    <p class="item-price" v-if="nivelPrecioCliente == 3">{{item.PRECIOD_VTA_5}} $</p>
                    <p class="item-price" v-if="nivelPrecioCliente == 3">{{item.PRECIOD_VTA_6}} $</p>
                    <p class="item-price" v-if="nivelPrecioCliente == 3">{{item.PRECIOD_VTA_7}} $</p>
                    <p class="item-price" v-if="nivelPrecioCliente == 3">{{item.PRECIOD_VTA_8}} $</p>
                    <p class="item-price" v-if="nivelPrecioCliente == 3">{{item.PRECIOD_VTA_9}} $</p>
                </div>
            </div>
            <infinite-loading @infinite="infiniteHandler">
                <span slot="no-more">
                    No hay más datos que mostrar
                </span>
            </infinite-loading>
        </div>
     </div>
</template>

<script>
    import axios from 'axios';
    import InfiniteLoading from 'vue-infinite-loading';

    export default {
        created() {
            this.getItems()
        },
        props: ['siteUrl', 'textoBusqueda', 'nivelPrecioCliente', 'linea', 'categoria'],
        data() {
            return {
                items: []
            }
        },
        methods: {
            getItems: function () {
                axios.get(this.siteUrl + 'items',
                   {
                        params: {
                            nombre: this.textoBusqueda,
                            linea: this.linea,
                            categoria: this.categoria
                        }
                   }).then(response => {
                        this.items = response.data.data;
                });
            },
            infiniteHandler: function ($state) {
                let limit = this.items.length/40 + 1;
                axios.get(this.siteUrl + 'items',
                    {
                        params: {
                            page: limit,
                            nombre: this.textoBusqueda,
                            linea: this.linea,
                            categoria: this.categoria
                        }
                    }).then(response => {
                        this.loadMore($state, response);
                });
            },
            loadMore: function ($state, response) {
                if (response.data.data.length) {
                    this.items = this.items.concat(response.data.data);
                    setTimeout(() => {
                        $state.loaded();
                    }, 1000);

                    if ( response.data.total == this.items.length ) {
                        $state.complete();
                    }
                } else {
                    $state.complete();
                }
            },
            itemSelected(val){
                window.location = this.siteUrl + 'productos/' + val;
            },
            replaceByDefault(e) {
                e.target.src = this.siteUrl + 'images/no_disponible.png';
            }
        }
    }
</script>