.img_product {
    border: 1px solid #d8d8d8;
    /*height:100%;*/
    height: 275px;
    width: 100%;
    margin: 0 auto;
}

#panel-productos.panel-default>.panel-heading {
    background-color: #df6a3b !important;
}

#panel-title-productos.panel-title {
    padding-top: 7.5px;
    font-size: 1.5em;
    font-weight:bold;
    color: white;
}

.btn-search-product{
    border-color: #515658;
}

.search-product {
    border: 1px solid #515658;
    width: 250px !important;
}

#filtro-tipo {
    border: 1px solid #515658;
}

#table-productos>tbody>tr>td{
    padding: 5px;
    vertical-align: middle;
}

#table-productos>thead>tr>th{
    vertical-align: middle;
    text-align: center;
}

#alert-message {
    color: #8a1d1d;
    font-weight: bold;
    font-size: 1.35em;
}

.cantidad-producto {
    width: 100px !important;
}

.item-image{
    height:150px;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #dfdfdf;
}

.card-item, .card-linea {
    text-align: center;
    margin-top: 20px;
}

.item-details {
    width: 150px;
    display: inline-block;
    border: 2px solid #dfdfdf;
    border-radius: 10px;
}

.item-details:hover {
    border: 2px solid #df6a3b;
    cursor: pointer;
}

.item-name, .linea-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-price, .linea-price {
    text-align: initial;
    margin-left: 10px;
    margin-bottom: 5px;
}

/* Estilo para las lineas. */
.linea-details {
    width: 300px;
    display: inline-block;
    border: 2px solid #dfdfdf;
    border-radius: 10px;
}

.linea-details:hover {
    border: 2px solid #df6a3b;
    cursor: pointer;
}

.linea-image {
    height:200px;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #dfdfdf;
}

/* Estilo para las categorias de las lineas */
#categorias-linea .list-group-item {
    float: left;
}

#categorias-linea .list-group-item:hover {
    cursor: pointer;
    background: #ffb091;
    color: white;
}


.navbar-brand {
    /*
    background-color: #ce4f1e;
    */
}

#app-navbar-collapse .active a {
    background: #df6a3b;
    color: white;
}
/*
.categoria-div {
    border: 1px solid #DDDDDD;
    width: 350px;
    height: 200px;
    margin-bottom: 15px;
}*/

.img-categoria {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.btn-circle.btn-xl {
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    border-radius: 25px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.producto-detalles {
    text-align: center;
}

.bloque-add-minus {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.add-cart {
    width: 200px;
    font-weight: bold;
}

.product_title {
    font-weight: bold;
}

.product_prize, .product_cantidad {
    font-size: 1.3em;
}

.product_cantidad {
    margin-bottom: 0;
}

#searchInput {
    width: 97%;
    margin: 5px;
    border: 1px solid;
}

#static-img {
    margin-top: 45%;
}

/*****************************/
.breadcrumb-producto-detail {
    margin-bottom: 0px;
}

.cart-icon-i {
    font-size: 45px !important;
}
